@using CarShop.Models.Chat
@model ChatChannel
@{
    string currentUserId = (string)ViewData["CurrentUserId"];
    var otherUser = Model.User1Id == currentUserId ? Model.User2 : Model.User1;
    var otherUserImgUrl = Model.User1Id == currentUserId ? Model.User1.ImgUrl : Model.User2.ImgUrl;

    void addMsgBox(Message msg, bool isSending = false)
    {
        <div class="row @(isSending?"justify-content-end":null)">
            <div class="col-md-6">
                <div class="message-box @(isSending?"sender-message":"receiver-message")">
                    <p>@msg.Content</p>
                    <small class="text-muted">12:30 PM</small>
                </div>
            </div>
        </div>
    }
}

<div class="chat-header">
    <img src="@otherUser.ImgUrl" alt="User Avatar" class="rounded-circle mr-3 contact-avatar">
    <h5 class="mb-0">@otherUser.FullName</h5>
</div>

<div class="chat-body" id="chatContainer">
    @if (Model.Messages.Count > 0)
    {
        foreach (var msg in Model.Messages)
        {
            addMsgBox(msg, msg.SenderId == currentUserId);
        }
    }
</div>

<div class="chat-footer">
    @Html.Hidden("SenderId", currentUserId)
    @Html.Hidden("ReceiverId", otherUser.Id)
    @Html.Hidden("ChatChannelId", Model.Id)
    <div class="input-group">
        <input name="Content" id="msgInput" type="text" class="form-control" placeholder="Type your message" aria-label="Type your message" aria-describedby="button-addon2">
        <button class="btn btn-primary" onclick="sendMessage()" id="button-addon2">Send</button>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.js" integrity="sha512-pn4yorWMbHHvdsldBpkTNjJaoadsoYs/ZgOYHSHUtivn1j/Ddgdnlgt1egjQcP8j4atM3TR+tgIqgjhi5Z11KQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    let connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    let channelId = @Model.Id;
    let SenderId = ("@currentUserId.ToString()").toString();
    let ReceiverId = ("@otherUser.Id.ToString()").toString();
    channelId = channelId.toString();

    connection.start().then(function () {
        console.log("SignalR connected");

        connection.invoke("JoinChat", channelId);
    }).catch(function (err) {
        console.error(err.toString());
    });
    connection.on("ReceiveMessage", function (message) {
        if (message.senderId !== SenderId) {
            let htmlContent = '<div class="row">' +
                '<div class="col-md-6">' +
                '<div class="message-box receiver-message">' +
                '<p>' + message.content + '</p>' +
                '<small class="text-muted">12:30 PM</small>' +
                '</div>' +
                '</div>' +
                '</div>';

            $('.chat-body').append(htmlContent);

            console.log("New message received: ", message);
        }
    }
    );

    function sendMessage() {
        let content = $("#msgInput").val();

        if (content !== "") {
            connection.invoke("SendMessage", { "id": 0, "senderId": SenderId, "receiverId": ReceiverId, "chatChannelId": parseInt(channelId), "content": content }).catch(err => console.error(err))

            let htmlContent = '<div class="row justify-content-end">' +
                '<div class="col-md-6">' +
                '<div class="message-box sender-message">' +
                '<p>' + content + '</p>' +
                '<small class="text-muted">12:30 PM</small>' +
                '</div>' +
                '</div>' +
                '</div>';

            $('.chat-body').append(htmlContent);
        }

        $("#msgInput").val("");
    }

</script>
